@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f4f8fb;
  color: #102033;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

input,
select,
textarea {
  outline: none;
}

@media print {
  @page {
    size: A4;
    margin: 12mm;
  }

  body {
    background: white !important;
  }

  button,
  a {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
